@import "../../../../styles.sass"
    
.menubar
    position: fixed
    top: 0
    left: 0
    width: 100%
    display: flex
    justify-content: space-around
    align-items: center
    border: 0.5px 0 0 0 solid grey
    border-radius: 6px
    padding: 5px
    z-index: 1000 // Ensure the navbar is above other content



.left
    flex: 1
    padding-left: 10px

.buttons
    flex: 2
    display: flex
    justify-content: space-around
    align-content: center

.right
    flex: 1

i.selected 
    color: $secondary-color
    box-shadow: none

.avatar
    width: 40px
    height: 40px
    border-radius: 50%
    margin-left: 40px
    margin-right: 40px

img.selected
    border: 2px solid $secondary-color



.logo
    width: 3em
    height: 3em
    border-radius: 50%


i
    align-self: center
    font-size: 1.5em

::ng-deep .p-button
    width: 120px
    padding: 12px

