<div class="login-container">
    <div class="avatar">
      <img src="https://p1.itc.cn/q_70/images03/20221110/066590f43af14f9fa7bde4b1b0259266.png">
    </div>
    <h1>Edit Profile</h1>
    <span (click)="onClosePopupDialog()" class="close-window">&times;</span>

    <form class="formGroup" [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <input type="text" class="ss" placeholder="Username" formControlName="userName"/>
      <input type="text" class="ss" placeholder="Email" formControlName="userEmail"/>
      <select class="ss" formControlName="gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Non-Binary">Non-Binary</option>
      </select>
      <input type="text" class="ss" placeholder="Age" formControlName="age"/>
      <input type="text" class="ss" placeholder="Phone" formControlName="phone"/>
      <button type="submit" pButton label="Confirm" class="button-confirm" [disabled]="userForm.invalid"></button>
    </form>
  </div>
