<div class="new-chirrup">
    <header>
        <div class="avatar">
            <img src="https://p1.itc.cn/q_70/images03/20221110/066590f43af14f9fa7bde4b1b0259266.png">
        </div>
        <div class="input-container">
            <i class="pi pi-pencil"></i>
            <input type="text" placeholder="Share something......">
        </div>
    </header>

    <footer>
        <div class="add-on">
            <p-button icon="pi pi-image"></p-button>
            <p-button icon="pi pi-video"></p-button>
            <p-button icon="pi pi-map-marker"></p-button>
        </div>

        <div class="post-button">
            <p-button>post</p-button>
        </div>

    </footer>
</div>