<div class="container">
    <div class="avatar">
        <img src="https://p1.itc.cn/q_70/images03/20221110/066590f43af14f9fa7bde4b1b0259266.png">
    </div>
    <div class="profile">
        <div class="">
            <p class="user-name">
                {{user.userName}}
            </p>
            <p>Email: {{ user.userEmail }}</p>
            <p>
                Gender: {{user.gender}}
            </p>
            <p>
                Age: {{user.age}}
            </p>
            <p>
                Phone: {{ user.phone }}
            </p>
        </div>
        <div class="edit-button">
            <button pButton label="Edit Profile" class="" (click)="openProfileEditPopup($event)"></button>
        </div>
    </div>
    <div class="nav">
        <button class="text-button"(click)="selectButton('Posts')" [ngStyle]="{ 'color': selectedButton === 'Posts' ? buttonColors.black : buttonColors.grey }">Posts</button>
        <button class="text-button"(click)="selectButton('Likes')" [ngStyle]="{ 'color': selectedButton === 'Likes' ? buttonColors.black : buttonColors.grey }">Likes</button>
    </div>

</div>