@import "primeng/resources/themes/lara-light-indigo/theme.css"
@import "../styles.sass"

.menubar-theme
    background-color: #F5F5F5
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2)

.h1-br-theme
  border-bottom: 1px solid black

.container_adminPanel
  background-color: #f0f0f0

.detailed_list
  li:nth-child(odd) 
      background-color: #d9d9d9
  li:nth-child(even)
      background-color: #f0f0f0

.user_list_button
    background-color: #E4BEB2