.menubar
    display: flex
    justify-content: space-around
    border: 0.5px 0 0 0 solid grey
    border-radius: 6px
    padding: 5px
    background-color: #F5F5F5
    box-shadow: 0 10px 20px rgb(0 0 0 / 0.2)



.left
    flex: 1
    padding-left: 10px

.buttons
    flex: 2
    display: flex
    justify-content: space-around

.right
    flex: 1

.navButton
    background-color: #F5F5F5
    color: black
    border: 0px

.navButton:hover
    background-color: #F5F5F5
    color: #C84821
    border: 0px 
    font-size: 2.5rem


.selected 
    color: #C84821
    box-shadow: none


