<div class="new-comment">
    <div class="avatar">
        <img src="https://p1.itc.cn/q_70/images03/20221110/066590f43af14f9fa7bde4b1b0259266.png">
    </div>
    <div class="input-container">
        <input type="text" placeholder="Add new comment...">
        <div class="icons">
            <span class="pi pi-at"></span>
            <span class="pi pi-image"></span>
        </div>
    </div>
    <span class="pi pi-send"></span>
</div>

<div class="previous-comments">
    <div class="main-comment">
        <div class="upper">
            <div class="avatar">
                <img src="https://p1.itc.cn/q_70/images03/20221110/066590f43af14f9fa7bde4b1b0259266.png">
            </div>
            <div class="comment-box">
                <div class="header">
                    <p class="username">User A</p>
                    <p class="time">Now</p>
                </div>
                <div class="content">Interesting</div>
            </div>
        </div>
        <div class="reactions">
            <!-- <p-button (click)="toggleHeartIcon()" [icon]="islike ? 'pi pi-heart-fill' : 'pi pi-heart'" class="text-button"></p-button>
            <p-button icon="pi pi-comment" class="text-button"></p-button> -->
        </div>
    </div>
    <div class="other-comment">
        <div class="upper">
            <div class="avatar">
                <img src="https://p1.itc.cn/q_70/images03/20221110/066590f43af14f9fa7bde4b1b0259266.png">
            </div>
            <div class="other-comment-box">
                <div class="header">
                    <p class="username">User A</p>
                    <p class="time">Now</p>
                </div>
                <div class="content">Interesting</div>
            </div>
        </div>
        <div class="other-reactions">
            <!-- <p-button (click)="toggleHeartIcon()" [icon]="islike ? 'pi pi-heart-fill' : 'pi pi-heart'" class="text-button"></p-button>
            <p-button icon="pi pi-comment" class="text-button"></p-button> -->
        </div>
    </div>
</div>