
<h1>Settings</h1>
<hr class="divider">
<div class="page-container">
    <div class="settings-format">
        <div class="setting">
            <p>Dark Mode</p>
            <p-inputSwitch class="toggle"></p-inputSwitch>
        </div>
        <div class="setting">
            <p>Password</p>
            <div class="action">
                <p>Set</p>
                <span class="pi pi-chevron-right pi-lg"></span>
            </div>
        </div>
        <div class="setting">
            <p>Admin Page</p>
            <div class="action">
                <p>Go</p>
                <span class="pi pi-chevron-right pi-lg"></span>
            </div>
        </div>
    </div>
    <div class="btn">
        <button class="logoutBtn">Log Out</button>
    </div>
</div>