
<div class="header">
    <h1 class="h1-br-theme">Settings</h1>
</div>
<div class="page-container">
    <div class="settings-format">
        <div class="setting">
            <p>Dark Mode</p>
            <p-inputSwitch class="toggle" [(ngModel)]="isDark" (onChange)="toggleTheme($event)"></p-inputSwitch>
        </div>
        <div class="setting" (click)="onClickPassword()">
            <p>Password</p>
            <div class="action">
                <p>Set</p>
                <span class="pi pi-chevron-right pi-lg"></span>
            </div>
        </div>
        <div class="setting" (click)="onClickAdmin()">
            <p>Admin Page</p>
            <div class="action">
                <p>Go</p>
                <span class="pi pi-chevron-right pi-lg"></span>
            </div>
        </div>
    </div>
    <div class="btn">
        <p-button label="Log Out"></p-button>
    </div>
</div>