<form [formGroup]="loginForm" class="login-container">
    <img src="../../../../../assets/logo.png" width="100" height="100">
    <h1>Log In</h1>
    <span class="close-window">&times;</span>
    <input  formControlName="username" type="text" placeholder="Username:">
    <p *ngIf="usernameControl.errors?.required">username required</p>
    <input  formControlName="password" type="password" placeholder="Password:">
    <p *ngIf="passwordControl.errors?.minlength">password should be longer than 8 digits</p>
    <p>Don't have an account yet? <a href="#" (click)="openRegisterPopup($event)" label="Show">Register here!</a></p>
    <button>Log In</button>
</form>
